<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="file" name="file">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" class="form-control" type="text" id="tiles" name="tiles" value="3">
                        Кількість блоків: 2, 3, 4
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </form>
        </div>
    </div>

    <div>
        {{#if images}}
            <div class="row">
            {{#each images}}
                    <div class="col-xs-6 col-md-3">
                        <a href="/image/{{ id }}" class="thumbnail">
                            <img src="uploads/canvas/{{ dir }}/{{ name }}">
                        </a>
                    </div>
            {{/each}}
            </div>
        {{/if}}
    </div>
</div>


