<h3>Зображення:</h3>
<img src="../uploads/canvas/{{ image.dir }}/{{ image.name }}">
<h3>Кількість частин: {{ image.tiles_amount }}</h3>
<h3>Результат:</h3>

<div class="row">
{{#each image.tiles}}
    <div class="col-md-3">
        <img src="../uploads/canvas/{{ @root.image.dir }}/{{ this }}">
    </div>
{{/each}}
</div>
